.page {
    width:350px;
    height:500px;
    font-family: 'Source Code Pro', monospace;
    background-color:#D3D0CB;
    color:#4C5760;
  }
  
  #article_title {
    color:#461220;
    font-size: 35px;
    padding: 15px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3.3px;
    text-shadow: 5px 5px 18px #461220;
  }
  
  #intro {
    font-size: 13px;
    margin:15px;
    margin-top: -30px;
    font-family: 'Oswald', sans-serif;
    color:#8C2F39;
    line-height: 35px;
  }
  
  .question{
    font-size: 12px;
    margin:10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800px;
    line-height: 12px;
  }
  
  .answer{
    font-size: 12px;
    margin:10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600px;
    line-height: 12px;
  }
  
  #block_quote {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#8C2F39;
    text-align: left;
    margin-left:60px;
    margin-right:50px;
    margin-top:0px;
    margin-bottom: 0px;
    border-left:#4C5760 solid 1px;
    padding: 5px;
    box-shadow: 10px 5px 5px dimgray;
  }
