.cover {
    width: 350px;
    height: 500px;
    background-color:gray;
    text-align: center;
    
    /* finish your styling of the cover div here! */
  }
  #title {
    font-size: 50px;
    font-family: 'Source Code Pro', monospace;
    padding-top: 40px;
  }
  
  #subtitle {
    font-size: 13px;
    color:aqua;
    text-align: right;
    padding-right: 60px;
    opacity: 50%;
    margin-top: -25px;
    font-family: 'Source Code Pro', monospace;
  }
  
  #cover_image {
    width: 66%;
    margin-top: 40px;
  }
